<!DOCTYPE html>
<html>
<head>
    <title>DevOps Movie App</title>
    <link rel="stylesheet" href="/static/style.css">
</head>
<body>
    <h1>DevOps Movie App</h1>
    <h2>English Movie</h2>
    <video width="600" controls>
        <source src="/static/videos/English.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>

    <h2>Hindi Movie</h2>
    <video width="600" controls>
        <source src="/static/videos/Hindi.mp4" type="video/mp4">
        Your browser does not support the video tag.
    </video>
</body>
</html>

